<!doctype html>
<html>
    <title>Flask project</title>
    <body>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/releases'>New releases</a></li>
            {% if 'username' in s.keys()%}
                <li><a href='/profile'>{{ s.username }}</a></li>
                <li><a>Logout</a></li>
            {% else %}
                <li><a>Log in</a></li>
                <li><a href="/register/">Sign up</a></li>
            {% endif %}
        </ul>
        <h1>New releases</h1>

        <h3>Do you like it?</h3>
        <p>Feel free to explore more music and share your preferences with us :3</p>
      
    </body>
</html>